/*Specification*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none; }

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000; }

input, button {
  outline: none;
  border: 0; }

.stanrdart {
  max-width: 1280px;
  height: auto;
  position: relative;
  margin: 0 auto; }

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  text-align: center; }

/*Intro*/
.intro {
  background: url(../img/stool.jpg) no-repeat center;
  height: 800px; }
  .intro-logo {
    display: block;
    position: absolute;
    top: 7%;
    margin-top: -28px;
    left: 9%;
    margin-left: -71px; }
  .intro-main {
    position: absolute;
    top: 50%;
    margin-top: -130px;
    left: 50%;
    margin-left: -290px;
    color: #fff;
    text-align: center;
    max-width: 580px;
    height: 260px; }
    .intro-main__title {
      font-size: 60px; }
    .intro-main p {
      margin-bottom: 55px;
      font-size: 20px; }
  .intro-form {
    height: 48px; }
    .intro-form input {
      padding-left: 28px;
      width: 310px;
      -webkit-border-radius: 30px 0 0 30px;
              border-radius: 30px 0 0 30px;
      font-size: 18px;
      background: #fff;
      height: 100%; }
    .intro-form button {
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      color: #fff;
      background: #20ab50;
      width: 165px;
      text-align: center;
      height: 100%;
      -webkit-border-radius: 0 30px 30px 0;
              border-radius: 0 30px 30px 0;
      margin-left: -5px;
      cursor: pointer; }
  .intro-nav {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 15px;
    height: 150px;
    text-align: center; }
    .intro-nav li {
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #dcdcdc;
      margin-bottom: 15px; }
      .intro-nav li:hover {
        width: 12px;
        height: 12px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
      .intro-nav li a {
        display: block;
        text-decoration: none; }

/*About-2 section*/
.about, .reviews, .drip {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .about-content {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
    .about-content__title {
      margin: 110px 0 35px; }
    .about-content p {
      margin: 0 0 30px 105px;
      max-width: 412px;
      text-align: left; }
  .about img, .reviews img, .drip img {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }

/*Reviews-3 section*/
.reviews img {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.reviews-content {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center; }
  .reviews-content__title {
    margin: 190px 0 120px; }
  .reviews-content__quote {
    font-size: 20px;
    margin: 0 0 95px 165px;
    max-width: 332px; }
  .reviews-content__name {
    font-size: 18px; }

/*Drip-4 section*/
.drip-content {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center; }
  .drip-content__quote {
    font-size: 20px;
    margin: 315px 0 105px 185px;
    max-width: 265px; }
  .drip-content__name {
    font-size: 18px; }

.drip img {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2; }

/*Range-5 section*/
.range-content {
  margin: 80px 0 85px;
  text-align: center; }
  .range-content__text {
    margin: 20px 0 135px;
    font-size: 18px; }
  .range-content__ty {
    margin: 105px 0 25px;
    font-size: 24px;
    text-transform: uppercase; }
  .range-content__position {
    font-size: 18px; }

/* 961 - 1368 px */
@media screen and (max-width: 1250px) {
  .about, .reviews, .drip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about-content {
      text-align: center; }
      .about-content__title {
        margin-top: 55px; }
      .about-content p {
        margin: 30px auto; }
    .about img, .reviews img, .drip img {
      margin: 0 auto;
      width: auto; }
  .reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .reviews img {
      margin-top: 30px;
      width: auto; }
    .reviews-content__title {
      margin: 80px 0 60px; }
    .reviews-content__quote {
      margin: 30px auto; }
  .drip-content__quote {
    margin: 40px auto; }
  .drip-content__name {
    margin-bottom: 20px; } }

@media screen and (max-width: 1024px) {
  .intro-logo {
    left: 11%; }
  .about-content__title {
    margin-top: 30px; }
  .reviews-content__title {
    margin: 30px 0 10px; }
  .drip img {
    margin-top: 20px; } }

@media screen and (max-width: 768px) {
  .intro-logo {
    left: 15%; }
  .intro-nav li {
    width: 15px;
    height: 15px;
    margin-bottom: 20px; } }

@media screen and (max-width: 320px) {
  .intro-logo {
    left: 50%; }
  .intro-main {
    top: 60%;
    left: 88%; }
    .intro-main__title {
      font-size: 40px; }
    .intro-main p {
      margin-top: 15px;
      font-size: 22px; }
  .intro-form input {
    -webkit-border-radius: 30px;
            border-radius: 30px;
    margin-left: 8px; }
  .intro-form button {
    -webkit-border-radius: 30px;
            border-radius: 30px;
    margin: 15px auto; }
  .intro-nav {
    top: 15%;
    right: 50%; }
    .intro-nav li {
      width: 18px;
      height: 18px;
      margin-bottom: 25px; }
  .about-content p {
    text-align: center;
    max-width: 300px; }
  .about img, .reviews img, .drip img {
    max-width: 320px; }
  .reviews-content__quote {
    max-width: 300px; } }
