/*Specification*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none; }

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000; }

input, button {
  outline: none;
  border: 0; }

a {
  text-decoration: none; }

.stanrdart {
  max-width: 1280px;
  height: auto;
  position: relative;
  margin: 0 auto; }

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  text-align: center; }

.boxes {
  width: 230px;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.boxes-title {
  font-size: 16px;
  font-weight: 400; }

.boxes-text {
  font-size: 15px; }

.rounded {
  width: 15px;
  height: 15px;
  -webkit-box-shadow: 0 0 0 4px rgba(32, 171, 80, 0.5);
          box-shadow: 0 0 0 4px rgba(32, 171, 80, 0.5);
  background: #20ab50;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .rounded_white {
    background: #fff; }
  .rounded_orange {
    -webkit-box-shadow: 0 0 0 4px rgba(146, 93, 87, 0.8);
            box-shadow: 0 0 0 4px rgba(146, 93, 87, 0.8); }

/*Intro*/
.intro {
  background: url(../img/stool.jpg) no-repeat center;
  height: 800px; }
  .intro-logo {
    display: block;
    position: absolute;
    top: 7%;
    margin-top: -28px;
    left: 9%;
    margin-left: -71px; }
  .intro-main {
    position: absolute;
    top: 50%;
    margin-top: -130px;
    left: 50%;
    margin-left: -290px;
    color: #fff;
    text-align: center;
    max-width: 580px;
    height: 260px; }
    .intro-main__title {
      font-size: 60px; }
    .intro-main p {
      margin-bottom: 55px;
      font-size: 20px; }
  .intro-form {
    height: 48px; }
    .intro-form input {
      padding-left: 28px;
      width: 310px;
      -webkit-border-radius: 30px 0 0 30px;
              border-radius: 30px 0 0 30px;
      font-size: 18px;
      background: #fff;
      height: 100%; }
    .intro-form button {
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      color: #fff;
      background: #20ab50;
      width: 165px;
      text-align: center;
      height: 100%;
      -webkit-border-radius: 0 30px 30px 0;
              border-radius: 0 30px 30px 0;
      margin-left: -5px;
      cursor: pointer; }
  .intro-nav {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 15px;
    height: 150px;
    text-align: center; }
    .intro-nav li {
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #dcdcdc;
      margin-bottom: 15px; }
      .intro-nav li:hover {
        width: 12px;
        height: 12px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
      .intro-nav li a {
        display: block;
        text-decoration: none; }

/*About-2 section*/
.about, .reviews, .drip {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .about-content {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
    .about-content__title {
      margin: 110px 0 35px; }
    .about-content p {
      margin: 0 0 30px 105px;
      max-width: 412px;
      text-align: left; }
  .about img, .reviews img, .drip img {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }

/*Reviews-3 section*/
.reviews img {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.reviews-content {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center; }
  .reviews-content__title {
    margin: 190px 0 120px; }
  .reviews-content__quote {
    font-size: 20px;
    margin: 0 0 95px 165px;
    max-width: 332px; }
  .reviews-content__name {
    font-size: 18px; }

/*Drip-4 section*/
.drip-content {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center; }
  .drip-content__quote {
    font-size: 20px;
    margin: 315px 0 105px 185px;
    max-width: 265px; }
  .drip-content__name {
    font-size: 18px; }

.drip img {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2; }

/*Range-5 section*/
.range-content {
  margin: 80px 0 85px;
  text-align: center; }
  .range-content__text {
    margin: 20px 0 135px;
    font-size: 18px; }
  .range-content__ty {
    margin: 105px 0 25px;
    font-size: 24px;
    text-transform: uppercase; }
  .range-content__position {
    font-size: 18px; }

/*why-6 section*/
.why {
  background: #e1e0e1 url(../img/blue.png) no-repeat center; }
  .why-content__title {
    padding: 75px 0 20px; }
  .why-content__text {
    text-align: center;
    font-size: 18px; }

.boxes-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.boxes-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 1; }
  .boxes-left__item {
    margin: 15px auto; }

.boxes-rounded {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative; }
  .boxes-rounded__item-1 {
    position: absolute;
    top: 120px;
    left: 40px; }
    .boxes-rounded__item-1:before {
      content: "";
      height: 70px;
      width: 1px;
      background: #20ab50;
      position: absolute;
      top: -70px;
      left: 6px; }
    .boxes-rounded__item-1:after {
      content: "";
      height: 1px;
      width: 89px;
      background: #20ab50;
      position: absolute;
      top: -70px;
      left: -83px; }
  .boxes-rounded__item-2 {
    position: absolute;
    top: 170px;
    left: 60px; }
    .boxes-rounded__item-2:after {
      content: "";
      height: 1px;
      width: 103px;
      background: #20ab50;
      position: absolute;
      top: 8px;
      left: -103px; }
  .boxes-rounded__item-3 {
    position: absolute;
    top: 285px;
    left: 70px; }
    .boxes-rounded__item-3:after {
      content: "";
      height: 1px;
      width: 113px;
      background: #20ab50;
      position: absolute;
      top: 8px;
      left: -113px; }
  .boxes-rounded__item-4 {
    position: absolute;
    top: 445px;
    left: 200px; }
    .boxes-rounded__item-4:before {
      content: "";
      height: 45px;
      width: 1px;
      background: #fff;
      position: absolute;
      top: 15px;
      left: 7px; }
    .boxes-rounded__item-4:after {
      content: "";
      height: 1px;
      width: 250px;
      background: #20ab50;
      position: absolute;
      top: 60px;
      left: -243px; }
  .boxes-rounded__item-5 {
    position: absolute;
    top: 120px;
    right: 283px; }
    .boxes-rounded__item-5:before {
      content: "";
      height: 75px;
      width: 1px;
      background: #20ab50;
      position: absolute;
      top: -75px;
      left: 6px; }
    .boxes-rounded__item-5:after {
      content: "";
      height: 1px;
      width: 335px;
      background: #fff;
      position: absolute;
      top: -75px;
      left: 6px; }
  .boxes-rounded__item-6 {
    position: absolute;
    top: 205px;
    right: 230px; }
    .boxes-rounded__item-6:before {
      content: "";
      height: 75px;
      width: 1px;
      background: #fff;
      position: absolute;
      top: -75px;
      left: 6px; }
    .boxes-rounded__item-6:after {
      content: "";
      height: 1px;
      width: 335px;
      background: #fff;
      position: absolute;
      top: -75px;
      left: 6px; }
  .boxes-rounded__item-7 {
    position: absolute;
    top: 225px;
    right: 60px; }
    .boxes-rounded__item-7:after {
      content: "";
      height: 1px;
      width: 335px;
      background: #fff;
      position: absolute;
      top: 7px;
      left: 6px; }
  .boxes-rounded__item-8 {
    position: absolute;
    top: 305px;
    right: 130px; }
    .boxes-rounded__item-8:before {
      content: "";
      height: 51px;
      width: 1px;
      background: #fff;
      position: absolute;
      top: 15px;
      left: 7px; }
    .boxes-rounded__item-8:after {
      content: "";
      height: 1px;
      width: 335px;
      background: #fff;
      position: absolute;
      top: 65px;
      left: 7px; }
  .boxes-rounded__item-9 {
    position: absolute;
    bottom: 95px;
    left: 300px; }
    .boxes-rounded__item-9:after {
      content: "";
      height: 1px;
      width: 373px;
      background: #20ab50;
      position: absolute;
      top: 8px;
      left: 5px; }

.boxes-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 1; }
  .boxes-right__item {
    margin: 15px auto; }

/*Location-7 section*/
.location-content {
  margin: 90px 0 75px;
  text-align: center; }
  .location-content__title {
    font-weight: 300; }
  .location-content__text {
    margin-top: 15px;
    font-size: 18px; }

.location-boxes {
  margin-left: 115px; }
  .location-boxes__item {
    display: inline-block;
    width: 140px;
    margin: 0 80px 55px 0; }

.location-email {
  margin-top: 15px; }
  .location-email a {
    color: #1faa50; }

.contact {
  margin: 35px 0 75px;
  font-size: 18px;
  text-align: center; }
  .contact__title {
    font-size: 24px;
    font-weight: 300; }
  .contact__text {
    margin: 15px 0 50px; }
  .contact__email {
    display: inline-block; }
    .contact__email a {
      color: #1faa50; }
  .contact__tel {
    display: inline-block;
    margin-left: 110px; }

/*Footer*/
.footer {
  background: #f3f3f3; }
  .footer-content {
    padding: 125px 0 110px;
    text-align: center; }
    .footer-content__text {
      margin: 5px 0 40px;
      font-size: 22px; }

.copy {
  background: #dcdcdc; }
  .copy p {
    padding: 10px 35px;
    color: #fff;
    font-size: 14px; }

/* 961 - 1368 px */
@media screen and (max-width: 1250px) {
  .about, .reviews, .drip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about-content {
      text-align: center; }
      .about-content__title {
        margin-top: 55px; }
      .about-content p {
        margin: 30px auto; }
    .about img, .reviews img, .drip img {
      margin: 0 auto;
      max-width: 640px; }
  .reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .reviews img {
      margin-top: 30px;
      width: auto; }
    .reviews-content__title {
      margin: 80px 0 60px; }
    .reviews-content__quote {
      margin: 30px auto; }
  .drip-content__quote {
    margin: 40px auto; }
  .drip-content__name {
    margin-bottom: 20px; }
  .boxes-rounded {
    display: none; } }

@media screen and (max-width: 1024px) {
  .intro-logo {
    left: 11%; }
  .about-content__title {
    margin-top: 30px; }
  .reviews-content__title {
    margin: 30px 0 10px; }
  .drip img {
    margin-top: 20px; } }

@media screen and (max-width: 768px) {
  .intro-logo {
    left: 15%; }
  .intro-nav li {
    width: 15px;
    height: 15px;
    margin-bottom: 20px; }
  .range-content {
    margin-top: 30px; }
    .range-content__text {
      margin-bottom: 70px; }
    .range-content__ty {
      margin-top: 50px; }
  .why-content__title {
    padding-top: 30px; }
  .location-content {
    margin: 40px 0 30px; }
  .location-boxes__item {
    margin: 0 60px 40px 0; } }

@media screen and (max-width: 320px) {
  .intro-logo {
    left: 50%; }
  .intro-main {
    top: 60%;
    left: 88%; }
    .intro-main__title {
      font-size: 40px; }
    .intro-main p {
      margin-top: 15px;
      font-size: 22px; }
  .intro-form input {
    -webkit-border-radius: 30px;
            border-radius: 30px;
    margin-left: 8px; }
  .intro-form button {
    -webkit-border-radius: 30px;
            border-radius: 30px;
    margin: 15px auto; }
  .intro-nav {
    top: 15%;
    right: 50%; }
    .intro-nav li {
      width: 18px;
      height: 18px;
      margin-bottom: 25px; }
  .about-content p {
    text-align: center;
    max-width: 300px; }
  .about img, .reviews img, .drip img {
    max-width: 320px; }
  .reviews-content__quote {
    max-width: 300px; }
  .range-content img {
    max-width: 320px; }
  .why-content__title {
    padding-top: 30px; }
  .boxes-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .location-boxes {
    margin-left: 60px;
    text-align: center; }
  .contact {
    margin: 5px 0 35px; }
    .contact__text {
      margin-bottom: 25px; }
    .contact__email {
      display: block;
      margin: 0 auto; }
    .contact__tel {
      display: block;
      margin: 0 auto; }
  .footer-content {
    padding-top: 40px; }
  .copy p {
    text-align: center; } }
