/* 961 - 1368 px */
@media screen and (max-width: 1250px)
 .about /*2 section*/
  flex-direction: column
  &-content
  	text-align: center	
	  &__title
    margin-top: 55px
	  p
	   margin: 30px auto
  img
  	margin: 0 auto
  	max-width: 640px
  	//width: auto

 .reviews /*3 section*/
  flex-direction: column-reverse
  img
  	margin-top: 30px
   width: auto
  &-content
   
  	&__title
  		margin: 80px 0 60px
  	&__quote
	   margin: 30px auto

 .drip /*4 section*/
   &-content
    &__quote
     margin: 40px auto
    &__name
     margin-bottom: 20px
   img
    
 .range /*5 section*/
 .carousel-item
  left: 23%

 .why /*6 section*/
  &-content
   &__title
   &__text
 .boxes-wrap
 .boxes-left
  &__item
 .boxes-rounded
  display: none
  &__item-1
 .boxes-right
  &__item



@media screen and (max-width: 1024px)
 .intro /*1 section*/
  &-logo
   left: 11%
 
 .about /*2 section*/
  &-content
   &__title
    margin-top: 30px
 
 .reviews /*3 section*/
  &-content
   &__title
    margin: 30px 0 10px
 
 .drip /*4 section*/
  &-content
   &__quote
   &__name
  img
   margin-top: 20px

 .range /*5 section*/
 .carousel-item
  left: 23%

@media screen and (max-width: 768px)
 .intro /*1 section*/
 	&-logo
 		left: 15%
  &-nav
   li
    a
     width: 15px
     height: 15px
     margin-bottom: 20px

 .about /*2 section*/
  &-content
  	&__title

 .reviews /*3 section*/
 	&-content
   &__title

 .drip /*4 section*/
  &-content
   &__quote
   &__name
  img
 
 .range /*5 section*/
  padding-top: 40px
  &-content
   &__title
   &__text
    margin-bottom: 50px
 .carousel-wrapper
  top: -50px 
 .carousel-item
  left: 13%

 .why /*6 section*/
  &-content
   &__title
    padding-top: 30px
   &__text
 .boxes-wrap
   
 .boxes-left
  &__item
 .boxes-rounded
  &__item-1
 .boxes-right
  &__item


 .location /*7 section*/
  &-content
   margin: 40px 0 30px
   &__title
    
   &__text
    
  &-boxes
   
   &__item
    margin: 0 60px 40px 0
    
  &-title
  &-text
  &-email

@media screen and (max-width: 640px)
 .about /*2 section*/
  &-content
   &__title
  img
   max-width: 400px

 .reviews /*3 section*/
  &-content
   &__title

 .drip /*4 section*/
  &-content
   &__quote
   &__name
  img

 .range /*5 section*/
 .carousel-item
  left: 5%

@media screen and (max-width: 425px)
 .intro
  background-position: 40% 50%
  &-logo
   left: 50%
  &-main
   top: 50%
   left: 68%
   &__title
    font-size: 40px
   p
    margin-top: 15px 
    font-size: 22px
  &-form
   input 
    border-radius: 30px
    margin-left: 8px
   button
    //margin-top: 15px
    border-radius: 30px
    margin: 15px auto
  &-nav
   top: 90%
   right: 72% 
   display: -webkit-flex
   display: -moz-flex
   display: -ms-flex
   display: -o-flex
   display: flex
   li
    padding-right: 20px
    a
     width: 18px
     height: 18px
     margin-bottom: 25px

 .about /*2 section*/
  &-content
   &__title
   p
    font-size: 18px
    max-width: 300px
  img
 		max-width: 320px

 .reviews /*3 section*/
  &-content
   &__title
   &__quote
    max-width: 300px
  img  
   
 .drip /*4 section*/
  &-content
   &__quote
   &__name
  img

 .range /*5 section*/
  &-content
   text-align: center
   &__title
   &__text
    padding-top: 10px
    max-width: 320px
    margin: 0 auto
 .carousel-wrapper
  height: 452px
  top: -30px
 .carousel-item
  left: 3%
  &__img
   line-height: 352px
   img
    max-width: 300px
  &__content
   h3
   p
 .arrow
 .arrow-prev
 .arrow-next

 .why /*6 section*/
  &-content
   &__title
    padding-top: 30px
   &__text
    max-width: 320px
    margin: 0 auto
 .boxes-wrap
  flex-direction: column
 .boxes-left
  &__item
 .boxes-rounded
  &__item-1
 .boxes-right
  &__item


 .location /*7 section*/
  &-content
   &__title
   &__text
  &-boxes
   margin-left: 60px
   text-align: center
   &__item
    width: auto
  &-title
   font-size: 20px
  &-text
   font-size: 18px
  &-email
   font-size: 18px
 .contact
  margin: 5px 0 35px
  &__title
  &__text
   margin-bottom: 25px
  &__email
   display: block
   margin: 0 auto 
  &__tel  
   display: block
   margin: 0 auto 

 .footer
  &-content
   padding-top: 40px
   &__title
   &__text
 .copy
  p
   text-align: center

@media screen and (max-width: 375px)
 .intro
  &-logo
  &-main
   left: 77%
   &__title
   p
    max-width: 360px
  &-form
   input
   button
  &-nav
   right: 75% 
   li
    a
 
 .range /*5 section*/
  &-content
   &__title
   &__text

 .carousel-wrapper
  height: 352px
 .carousel-item
  &__img
   line-height: 252px
   img
    max-width: 250px
  &__content
   h3
   p
 .arrow
 .arrow-prev
 .arrow-next



@media screen and (max-width: 320px)
 .intro
  &-logo
  &-main
   left: 88%
   &__title
   p
  &-form
   input
   button
  &-nav
   right: 78%
   li
    a 

 .range /*5 section*/
  &-content
   &__title
   &__text
 .carousel-wrapper
  height: 302px
 .carousel-item
  &__img
   line-height: 202px
   img
    max-width: 210px
  &__content
   h3
   p
 .arrow
 .arrow-prev
 .arrow-next