@import "colors" //интегрируем переменные с цветами
//@import "fontello" //иконки с fontello

/*Specification*/
*
 margin: 0
 padding: 0
 box-sizing: border-box

ul
	list-style: none

body
 font-family: 'Yantramanav', sans-serif
 font-size: 16px
 font-weight: 300
 color: $body-text

input, button
 outline: none
 border: 0

.stanrdart /*общее для секций*/
	max-width: 1280px
	height: auto
 position: relative
 margin: 0 auto

.title /*общее для заголовков*/
 font-family: 'Nunito', sans-serif
 font-size: 30px
 text-align: center

.boxes /*боксы для 6 section*/
	width: 230px
	background: $menu-text
	padding: 10px
	border-radius: 10px
 &__title
  font-size: 16px
		font-weight: 400
	&__text
  font-size: 15px

/*Intro*/
.intro
	background: url(../img/stool.jpg) no-repeat center
	height: 800px
	&-logo
		display: block
		position: absolute
		top: 7%
		margin-top: -28px
		left: 9%
		margin-left: -71px
	&-main
	 position: absolute
	 top: 50%
	 margin-top: -130px
	 left: 50%
	 margin-left: -290px
	 color: $menu-text
	 text-align: center
	 max-width: 580px
	 height: 260px
	 &__title
	  font-size: 60px
	 p
	 	margin-bottom: 55px
	 	font-size: 20px
	&-form
		height: 48px
	 input 
	  padding-left: 28px
	  width: 310px
	  border-radius: 30px 0 0 30px
   font-size: 18px
   background: $menu-text
   height: 100%
  button
  	font-family: 'Nunito', sans-serif
  	font-size: 20px
  	color: $menu-text
  	background: $bg-button
   width: 165px
   text-align: center
   height: 100%
   border-radius: 0 30px 30px 0
   margin-left: -5px
   cursor: pointer
 &-nav
 	position: absolute
 	top: 50%
  right: 5%
  width: 15px
  height: 150px
  text-align: center
 	li
 		width: 8px
 		height: 8px
 		border-radius: 50%
 		background: $bg-ellipse
   margin-bottom: 15px
   &:hover
    	width: 12px
 		  height: 12px
 		  border-radius: 50%
   a
    display: block
    text-decoration: none
    
/*About-2 section*/
.about
 display: -webkit-flex
 display: -moz-flex
 display: -ms-flex
 display: -o-flex
 display: flex
 flex-direction: row
 &-content
 	flex: 2
  &__title
   margin: 110px 0 35px
  p
   margin: 0 0 30px 105px
   max-width: 412px
   text-align: left
 img
  flex: 2
  
/*Reviews-3 section*/
.reviews
 @extend .about
	img
  flex: 2
	&-content
  flex: 2
  text-align: center
		&__title
			margin: 190px 0 120px
		&__quote
			font-size: 20px
			margin: 0 0 95px 165px
			max-width: 332px
		&__name
   font-size: 18px

/*Drip-4 section*/
.drip
 @extend .about
	&-content
  flex: 2
  text-align: center
		&__quote
			font-size: 20px
			margin: 315px 0 105px 185px
			max-width: 265px
		&__name
   font-size: 18px
 img
  flex: 2

/*Range-5 section*/
.range
	&-content
  margin: 80px 0 85px
  text-align: center
		&__title
			
		&__text
   margin: 20px 0 135px
   font-size: 18px
  img
  &__ty
  	margin: 105px 0 25px
  	font-size: 24px
  	text-transform: uppercase
  &__position
  	font-size: 18px

/*why-6 section*/
.why
	background: #ecebec url(../img/blue.png) no-repeat center
	height: 798px
	&-content
		&__title
			padding: 75px 0 20px
		&__text
			text-align: center
   font-size: 18px
.boxes-left
	position: absolute
	left: 5%
	top: 20%
	&__item
		//margin: 0 0 12px 60px
		margin-bottom: 12px
.boxes-right
	position: absolute
	right: 5%
	top: 20%
	&__item
		margin-bottom: 12px

.rounded
	position: absolute
	top: 25%
	left: 25%
	&__item
  &_up
			width: 15px
			height: 15px
			background: $bg-rounded
	  border-radius: 50%
  &_down
			width: 23px
			height: 23px
			background: rgba(32, 171, 80, 0.5)
			border-radius: 50%

















@import "media" //интегрируем медиа запросы