@import "colors" //интегрируем переменные с цветами
//@import "fontello" //иконки с fontello

/*Specification*/
*
 margin: 0
 padding: 0
 box-sizing: border-box

ul
	list-style: none

body
 font-family: 'Yantramanav', sans-serif
 font-size: 16px
 font-weight: 300
 color: $body-text

input, button
 outline: none
 border: 0

.stanrdart /*общее для секций*/
	max-width: 1280px
	height: auto
 position: relative
 margin: 0 auto

.title /*общее для заголовков*/
 font-family: 'Nunito', sans-serif
 font-size: 30px
 text-align: center

.boxes /*боксы для 6 section*/
	width: 230px
	background: $menu-text
	padding: 10px
	border-radius: 10px
 &__title
  font-size: 16px
		font-weight: 400
	&__text
  font-size: 15px

.rounded
	width: 15px
	height: 15px
	box-shadow: 0 0 0 4px rgba(32, 171, 80, 0.5)
	background: $bg-rounded
	border-radius: 50%
 &_white
 	background: $menu-text
 &_orange
 	box-shadow: 0 0 0 4px rgba(146, 93, 87, 0.8)


/*Intro*/
.intro
	background: url(../img/stool.jpg) no-repeat center
	height: 800px
	&-logo
		display: block
		position: absolute
		top: 7%
		margin-top: -28px
		left: 9%
		margin-left: -71px
	&-main
	 position: absolute
	 top: 50%
	 margin-top: -130px
	 left: 50%
	 margin-left: -290px
	 color: $menu-text
	 text-align: center
	 max-width: 580px
	 height: 260px
	 &__title
	  font-size: 60px
	 p
	 	margin-bottom: 55px
	 	font-size: 20px
	&-form
		height: 48px
	 input 
	  padding-left: 28px
	  width: 310px
	  border-radius: 30px 0 0 30px
   font-size: 18px
   background: $menu-text
   height: 100%
  button
  	font-family: 'Nunito', sans-serif
  	font-size: 20px
  	color: $menu-text
  	background: $bg-button
   width: 165px
   text-align: center
   height: 100%
   border-radius: 0 30px 30px 0
   margin-left: -5px
   cursor: pointer
 &-nav
 	position: absolute
 	top: 50%
  right: 5%
  width: 15px
  height: 150px
  text-align: center
 	li
 		width: 8px
 		height: 8px
 		border-radius: 50%
 		background: $bg-ellipse
   margin-bottom: 15px
   &:hover
    	width: 12px
 		  height: 12px
 		  border-radius: 50%
   a
    display: block
    text-decoration: none
    
/*About-2 section*/
.about
 display: -webkit-flex
 display: -moz-flex
 display: -ms-flex
 display: -o-flex
 display: flex
 flex-direction: row
 &-content
 	flex: 2
  &__title
   margin: 110px 0 35px
  p
   margin: 0 0 30px 105px
   max-width: 412px
   text-align: left
 img
  flex: 2
  
/*Reviews-3 section*/
.reviews
 @extend .about
	img
  flex: 2
	&-content
  flex: 2
  text-align: center
		&__title
			margin: 190px 0 120px
		&__quote
			font-size: 20px
			margin: 0 0 95px 165px
			max-width: 332px
		&__name
   font-size: 18px

/*Drip-4 section*/
.drip
 @extend .about
	&-content
  flex: 2
  text-align: center
		&__quote
			font-size: 20px
			margin: 315px 0 105px 185px
			max-width: 265px
		&__name
   font-size: 18px
 img
  flex: 2

/*Range-5 section*/
.range
	&-content
  margin: 80px 0 85px
  text-align: center
		&__title
			
		&__text
   margin: 20px 0 135px
   font-size: 18px
  img
  &__ty
  	margin: 105px 0 25px
  	font-size: 24px
  	text-transform: uppercase
  &__position
  	font-size: 18px

/*why-6 section*/

.why
 background: #ecebec url(../img/blue.png) no-repeat center
	&-content
		&__title
			padding: 75px 0 20px
		&__text
			text-align: center
   font-size: 18px
.boxes-wrap
	display: -webkit-flex
 display: -moz-flex
 display: -ms-flex
 display: -o-flex
 display: flex
 flex-direction: row
.boxes-left  /*блок с левым контентом*/
	flex: 1
	z-index: 1 
	&__item
		margin: 15px auto
.boxes-rounded /*блок с кружками*/
	flex: 2
	position: relative
	&__item-1 /*1-й круг*/
		position: absolute
		top: 120px
		left: 40px
		&:before /*вертикальная линия*/
			content: ""
			height: 70px
			width: 1px
			background: $bg-rounded
			position: absolute
			top: -70px
			left: 6px
		&:after /*горизонтальная линия*/
			content: ""
			height: 1px
			width: 89px
			background: $bg-rounded
			position: absolute
			top: -70px
			left: -83px
 &__item-2 /*2-й круг*/
		position: absolute
		top: 170px
		left: 60px
		&:after /*горизонтальная линия*/
			content: ""
			height: 1px
			width: 103px
			background: $bg-rounded
			position: absolute
			top: 8px
			left: -103px
	&__item-3 /*3-й круг*/
			position: absolute
			top: 285px
			left: 70px
			&:after /*горизонтальная линия*/
				content: ""
				height: 1px
				width: 113px
				background: $bg-rounded
				position: absolute
				top: 8px
				left: -113px
 &__item-4 /*4-й круг*/
		position: absolute
		top: 445px
		left: 200px
		&:before /*вертикальная линия*/
			content: ""
			height: 45px
			width: 1px
			background: $menu-text
			position: absolute
			top: 15px
			left: 7px
		&:after /*горизонтальная линия*/
			content: ""
			height: 1px
			width: 250px
			background: $bg-rounded
			position: absolute
			top: 60px
			left: -243px
 &__item-5 /*5-й круг*/
		position: absolute
		top: 120px
		right: 283px
		&:before /*вертикальная линия*/
			content: ""
			height: 75px
			width: 1px
			background: $bg-rounded
			position: absolute
			top: -75px
			left: 6px
		&:after /*горизонтальная линия*/
			content: ""
			height: 1px
			width: 335px
			background: $menu-text
			position: absolute
			top: -75px
			left: 6px
 &__item-6 /*6-й круг*/
		position: absolute
		top: 205px
		right: 230px
		&:before /*вертикальная линия*/
			content: ""
			height: 75px
			width: 1px
			background: $menu-text
			position: absolute
			top: -75px
			left: 6px
		&:after /*горизонтальная линия*/
			content: ""
			height: 1px
			width: 335px
			background: $menu-text
			position: absolute
			top: -75px
			left: 6px
 &__item-7 /*7-й круг*/
		position: absolute
		top: 225px
		right: 60px
		&:after /*горизонтальная линия*/
			content: ""
			height: 1px
			width: 335px
			background: $menu-text
			position: absolute
			top: 7px
			left: 6px
 &__item-8 /*8-й круг*/
		position: absolute
		top: 305px
		right: 130px
		&:before /*вертикальная линия*/
			content: ""
			height: 51px
			width: 1px
			background: $menu-text
			position: absolute
			top: 15px
			left: 7px
		&:after /*горизонтальная линия*/
			content: ""
			height: 1px
			width: 335px
			background: $menu-text
			position: absolute
			top: 65px
			left: 7px
 &__item-9 /*9-й круг*/
			position: absolute
			bottom: 95px
			left: 300px
			&:after /*горизонтальная линия*/
				content: ""
				height: 1px
				width: 373px
				background: $bg-rounded
				position: absolute
				top: 8px
				left: 5px



.boxes-right /*блок с правым контентом*/
	flex: 1
	z-index: 1
	&__item
		margin: 15px auto


  

















@import "media" //интегрируем медиа запросы