@import "colors" //интегрируем переменные с цветами
//@import "fontello" //иконки с fontello

/*Specification*/

ul
	padding: 0
	margin: 0
	list-style: none

p, h1, h5
	margin: 0

body
 font-family: 'Open Sans', sans-serif
 font-size: 16px
 font-weight: 400
 color: $body-text

input
 outline: none
 border-top: 0
































@import "media" //интегрируем медиа запросы